.container {
    width: 700px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    font-size: 30px;
    text-align: center;
}