<div class="container">
    <form [formGroup]="form" (submit)="onSubmit(form)">
        <div class="controls">
            <div class="control">
                <label>Please enter your email</label>
                <input type="email" formControlName="clientEmail" />
                <app-validation-error [control]="form.controls['clientEmail']"></app-validation-error>
            </div>

            <div class="acceptation">
                <input type="checkbox" id="check" formControlName="accept" />
                <label class="lb" for="check"
                    >By checking this box, you confirm that you have read and accepted our
                    <a href="www.google.com" target="_blank">terms and conditions.</a>
                </label>
            </div>
        </div>

        <div class="summary">
            <ng-content></ng-content>
        </div>
        <div class="footer">
            <button [disabled]="!form.valid || !form.value.accept">Confirm subscription</button>
        </div>
    </form>
</div>
