@import "buttons.scss";
@import "forms.scss";
@import "layouts.scss";

.container {
    width: 100%;
    @extend %layout;
    .controls {
        @extend %form;
        .acceptation {
            display: flex;
            align-items: flex-start;
            gap: 20px;
            line-height: 21px;
            label {
                a {
                    color: #0081bb;
                    background-color: unset;
                    text-decoration: none;
                    cursor: pointer;
                }
            }
            .checkbox {
                padding-bottom: 10px !important;
            }
        }
    }

}