<div class="text-danger" *ngIf="control && control.errors && control.touched">
    <ng-container *ngFor="let controlError of control.errors | keyvalue">
        <ng-container *ngIf="errorLabels[controlError.key] || (customErrorLabels && customErrorLabels[controlError.key])">
            {{ (customErrorLabels && customErrorLabels[controlError.key]) || errorLabels[controlError.key] }}
        </ng-container>
    </ng-container>
</div>
