<div class="container">
    <form [formGroup]="form" (submit)="onSubmit(form)">
        <div class="controls">
            <div class="control">
                <label>Credit card number</label>
                <input
                    type="text"
                    formControlName="creditCardNo"
                    [mask]="'0000 0000 0000 0000'"
                    placeholder="1212 1212 1212 1212"
                />
                <app-validation-error
                    [control]="form.controls['creditCardNo']"
                    [customErrorLabels]="{ minlength: 'Incomplete credit card no' }"
                ></app-validation-error>
            </div>

            <div class="control">
                <label>Expiration date</label>
                <input type="text" formControlName="creditCardExpiration" [mask]="'00 / 00'" placeholder="11 / 23" />
                <app-validation-error
                    [control]="form.controls['creditCardExpiration']"
                    [customErrorLabels]="{ pattern: 'Invalid expiration date' }"
                ></app-validation-error>
            </div>

            <div class="control">
                <label>Security code</label>
                <input type="text" formControlName="creditCardSecurityCode" [mask]="'000'" placeholder="123" />
                <app-validation-error [control]="form.controls['creditCardSecurityCode']"></app-validation-error>
            </div>
        </div>
        <div class="summary">
            <ng-content></ng-content>
        </div>
        <div class="footer">
            <button [disabled]="!form.valid">Suivant</button>
        </div>
    </form>
</div>
