<div class="container">
    <div class="heading">Summary</div>
    <div class="content" *ngIf="subscription">
        <div class="row">
            <label>Duration (month)</label>
            <div class="value">{{ subscription.duration }}</div>
        </div>

        <div class="row">
            <label>Gigabytes</label>
            <div>{{ subscription.gigabyte }}</div>
        </div>

        <div class="row">
            <label>Upfront payment</label>
            <div class="value">{{ subscription.upfrontPayment ? 'Yes' : 'No' }}</div>
        </div>

        <div class="row">
            <label>Subscription plan ($/Gb)</label>
            <div class="value">{{ subscription.plan.priceUsdPerGb | number : '1.0-2' }}</div>
        </div>

        <div class="row">
            <label>Final amount ($)</label>
            <div class="value bolder">{{ subscription.finalAmount | number : '1.0-2' }}</div>
        </div>
    </div>
</div>
