.container {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 100%;
    display: grid;
    grid-template-rows: 50px auto;
    grid-template-columns: 300px;
    grid-template-areas: 'heading' 'content';
    overflow: hidden;
    .heading {
        grid-area: heading;
        width: 100%;
        background-color: #0081bb;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        color: #ffffff;
    }
    .content {
        grid-area: content;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 20px 0 20px 0;
        .row {
            display: flex;
            justify-content: space-between;
            margin: 13px 30px 13px 30px;
            font-size: 15px;

            label {
                color: #000;
            }

            .value {
                color: #707070;
                text-align: right;
            }

            .bolder {
                font-size: 18px;
                color: #0081bb;
            }
        }
    }
}