
$button-width: 235px;
$button-height: 50px;
$button-border-radius: 5px;
$button-color: #0081bb;

%button {
    outline: 0;
    text-align: center;
    width: $button-width;
    height: $button-height;
    background-color: $button-color;
    color: #fff;
    border-radius: $button-border-radius;
    border: none;
    transition-duration: 0.3s;
    opacity: 0.9;
    font-size: 15;
    &:hover {
        cursor: pointer;
        opacity: 1;
    }
    &:disabled {
        background-color: gray;
    }
}