@import "buttons.scss";

%layout {
    width: 100%;
    form {
        display: grid;
        grid-template-columns: 320px auto 300px;
        grid-template-rows: auto auto;
        grid-template-areas:
            'controls     .       summary'
            'controls     .       footer';
        .controls {
            grid-area: controls;
        }
        .summary {
            grid-area: summary;
        }
        .footer {
            grid-area: footer;
            padding-top: 20px;
            button {
                @extend %button;
                width: 300px;
            }
        }
    }

}