<div class="container">
    <app-subscription-options [subscription]="subscription" (formChange)="onFormChange($event)">
        <app-summary [subscription]="subscription"></app-summary>
    </app-subscription-options>
</div>
