.container {
    width: 700px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    .steeper {
        margin-bottom: 50px;
    }
}