<div class="container">
    <app-subscription-confirmation [subscription]="subscription" (confirm)="onConfirm($event)">
        <app-summary [subscription]="subscription"></app-summary>
    </app-subscription-confirmation>
</div>
