<div class="container">
    <app-subscription-payment [subscription]="subscription" (submit)="onSubmit($event)">
        <app-summary [subscription]="subscription"></app-summary>
    </app-subscription-payment>
</div>
