.container {
    width: 100%;
    .title {
        text-align: center;
        line-height: 73px;
        font-size: 28px;
        font-weight: bold;
    }
    .steps {
        display: flex;
        align-items: center;
        .step {
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            border: 1px solid lightgray;
            cursor: pointer;
            &.active {
                color: white;
                background-color: #0081bb;
            }
        }
        .line {
            flex-grow: 1;
            height: 0;
            border-top: 1px solid;
            margin: 0 5px;
            &:last-child {
                display: none;
            }
        }
    }

}