<div class="container" *ngIf="currentStep && steps">
    <div class="title">{{ currentStep.title }}</div>
    <div class="steps">
        <ng-container *ngFor="let step of steps; let i = index">
            <div class="step" [class.active]="currentStep.step >= i + 1" [routerLink]="step.path">{{ i + 1 }}</div>
            <div class="line"></div>
        </ng-container>
    </div>
</div>
