@import "buttons.scss";
@import "layouts.scss";

.container {
    width: 100%;
    @extend %layout;
    form {
        .controls {
            display: flex;
            flex-direction: column;
            gap: 20px;
            .control {
                h4 {
                    margin: 0 0 10px 0;
                }
                .blocs {
                    display: flex;
                    gap: 10px;
                    .bloc {
                        input {
                            display: none;
                        }
                        label {
                            width: 100px;
                            height: 50px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 5px;
                            color: #FFFFFF;
                            background-color: #767676;
                            cursor: pointer;
                        }
                        input[type='radio']:checked + label {
                            background-color: #0081bb;
                            color: white;
                        }
                    }
                }
            }
        }

    }
}