<div class="container">
    <form [formGroup]="form">
        <div class="controls">
            <div class="control">
                <h4>Please select the duration of your subscription</h4>
                <div class="blocs">
                    <div *ngFor="let duration of durationOptions" class="bloc">
                        <input type="radio" id="duration-{{ duration }}" formControlName="duration" [value]="duration" />
                        <label for="duration-{{ duration }}">{{ duration }}</label>
                    </div>
                </div>
            </div>

            <div class="control">
                <h4>Please select the amount of gigabytes</h4>
                <div class="blocs">
                    <div *ngFor="let gigabyte of gigabyteOptions" class="bloc">
                        <input type="radio" id="gigabyte-{{ gigabyte }}" formControlName="gigabyte" [value]="gigabyte" />
                        <label for="gigabyte-{{ gigabyte }}">{{ gigabyte }}</label>
                    </div>
                </div>
            </div>

            <div class="control">
                <h4>Do you want to make an upfront payment ?</h4>
                <div class="blocs">
                    <div class="bloc">
                        <input type="radio" id="yes" formControlName="upfrontPayment" [value]="true" />
                        <label for="yes">Yes</label>
                    </div>
                    <div class="bloc">
                        <input type="radio" id="no" formControlName="upfrontPayment" [value]="false" />
                        <label for="no">No</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="summary">
            <ng-content></ng-content>
        </div>

        <div class="footer">
            <button routerLink="/subscription/payment">Suivant</button>
        </div>
    </form>
</div>
